# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/

# Flask
instance/
.webassets-cache

# VS Code
.vscode/
*.code-workspace

# Uploaded files
static/uploads/*
!static/uploads/.gitkeep

# Environment variables
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db
